<div class="container">
	<%= render 'books/error_message', new_post: @new_post %>
	<div class="row">
		<div class="col-lg-4">
			<%= render 'users/sidebar', user: @user, new_post: @new_post %>
		</div>
		<div class="col-lg-8">
			<h2>Users</h2>
			<table>
				<thead>
					<tr>
						<th>image</th>
						<th>name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
						<tr>
							<td><%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg",  size: "50x50"%></td>
							<td><%= user.name %></td>
							<td><%= link_to 'show', user_path(user) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>