<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="user-info-wrapper">
				<h2>User info</h2>
				<%= image_tag('no_image.jpg', class: "user-img", style: "width: 100px; height: 100px;") %>
				<table>
						<tr>
							<th>name</th>
							<td><%= current_user.name %></td>
						</tr>
						<tr>
							<th>introduction</th>
							<td><%= current_user.introduction %></td>
						</tr>
				</table>
				<%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-wrench'), edit_user_path(current_user.id) %>
			</div>
			<div class="new-post-wrapper">
				<h2>New Book</h2>
				<%= form_with model: @book, url: books_path, locla: true do |form| %>
					<p>Tile</p>
					<%= form.text_field :title %>
					<p>Opinion</p>
					<%= form.text_area :body %>

					<%= form.submit "Create Book" %>
				<% end %>
			</div>
		</div>
		<div class="col-lg-8">
			<h1>Books</h1>
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
					</tr>
				</thead>
				<tbody>
					<% @books.each do |book| %>
						<tr>
							<td></td>
							<td><%= book.title %></td>
							<td><%= book.body %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>