<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="user-info-wrapper">
				<h2>User info</h2>
				<%= attachment_image_tag @book.user, :profile_image, fallback: "no_image.jpg",  size: "100x100"%>
				<table>
						<tr>
							<th>name</th>
							<td><%= @book.user.name %></td>
						</tr>
						<tr>
							<th>introduction</th>
							<td><%= @book.user.introduction %></td>
						</tr>
				</table>
				<%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-wrench'), edit_user_path(current_user.id) %>
			</div>
			<div class="new-post-wrapper">
				<h2>New Book</h2>
				<%= form_with model: @new_post, url: books_path, locla: true do |form| %>
					<p>Tile</p>
					<%= form.text_field :title %>
					<p>Opinion</p>
					<%= form.text_area :body %>

					<%= form.submit "Create Book" %>
				<% end %>
			</div>
		</div>
		<div class="col-lg-8">
			<h1>Book detail</h1>
			<table>
				<tbody>
						<tr>
							<td>
								<%= attachment_image_tag @book.user, :profile_image, fallback: "no_image.jpg",  size: "30x30"%>
								<%= @book.user.name %>
							</td>
							<td><%= @book.title %></td>
							<td><%= @book.body %></td>
							<% if current_user == @book.user %>
								<td><%= link_to 'Edit', edit_book_path(@book) %></td>
								<td><%= link_to 'Destroy', book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
							<% end %>
							
						</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>