<div class="container">
	<%= render 'books/error_message', error: @new_post %>
	<div class="row">
		<div class="col-lg-4">
			<%= render 'users/sidebar', user: @book.user, new_post: @new_post %>
		</div>
		<div class="col-lg-8">
			<h2>Book detail</h2>
			<table>
				<tbody>
						<tr>
							<td>
								<%= attachment_image_tag @book.user, :profile_image, fallback: "no_image.jpg",  size: "30x30"%>
								<%= @book.user.name %>
							</td>
							<td><%= @book.title %></td>
							<td><%= @book.body %></td>
							<% if current_user == @book.user %>
								<td><%= link_to 'Edit', edit_book_path(@book) %></td>
								<td><%= link_to 'Destroy', book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
							<% end %>
							
						</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>